body {background: black;}
body {color: white;}
body {font-size: medium;}
h3 {text-decoration: underline;}
h3 {color: red;}
h1 {text-align: center;}
body {text-align: justify;}
img {
	width: 30%;
	height: 30%;
}


